
.idea
/.idea
# Local .terraform directories and files
**/.terraform/*
.terraform*
.terraformrc
terraformrc


# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars
*/*.tfvars

*.log
08-ansible-04-role/playbook/inventory
08-ansible-04-role/playbook/role/clickhouse/*
08-ansible-04-role/playbook/role/vector-role/*
08-ansible-04-role/playbook/role/lighthouse-role/*